@font-face {
    font-family: 'Discoteca Rounded';
    src: url('./fonts/DiscotecaRounded-M5xB.ttf') format('truetype');
 }
 
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Discoteca Rounded', 'Roboto', sans-serif;
    letter-spacing: 3px;
 }
 
 
 a {
    text-decoration: none;
    color: white;
 }
 
 
 h1 {
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 7px;
 }
 
 
 h2 {
    font-size: 29px;
    font-weight: bold;
 }
 
 
 h3 {
    font-size: 25px;
    font-weight: bold;
 
 
 }
 
 
 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa1cb;
    padding: 1rem;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
 }
 
 
 .header .logo {
    width: 50px;
 }
 
 
 .header .logobox {
    display: flex;
    align-items: center;
    gap: 10px;
 }
 
 
 .links {
    display: flex;
    gap: 20px;
    font-weight: 100;
    font-size: small;
 }
 
 
 .banner {
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    background-color: #ffa1cb;
    flex-wrap: wrap;
 }
 
 
 .bannerimg {
    width: 200px;
    height: auto;
 }
 
 
 img {
    width: 200px;
    height: auto;
 }
 
 
 .title {
    width: auto; /* Make the title take full width of its container */
    max-width: 800px; /* Ensure it doesn't exceed a certain width */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-bottom: 20px;
    text-align: center;
 }
 
 
 .btn {
    width: 100px;
    height: 35px;
    background-color: #d8defd;
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    font-size: 15px;
 }
 
 
 .filters {
    display: flex;
    justify-content: flex-end; /* Aligns the filters to the right side */
    align-items: center;
    padding: 20px;
    width: 100%; /* Ensures the container takes the full width of the screen */
    box-sizing: border-box; /* Includes padding in the element's total width and height */
 }
 
 
 .searchbar {
    width: 70%;
    max-width: 600px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding-left: 25px;
    font-weight: 600;
    font-size: 20px;
    color: grey
 }
 
 
 .filters-container {
    display: flex;
    justify-content: flex-end; /* Aligns the filters to the right side */
    align-items: center;
    padding: 20px;
    width: 100%; /* Ensures the container takes the full width of the screen */
    box-sizing: border-box; /* Includes padding in the element's total width and height */
 }
 
 
 .sort-menu {
    display: flex;
    gap: 5px;
    padding-right: 50px;
    align-items: center;
 }
 
 
 .select {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    color: grey;
    align-items: center;
 }
 
 
 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #fff7fc;
    gap: 36px;
    color: grey;
 }
 
 
 .soldout-label {
    align-items: center;
    display: flex;
    gap: 10px;
 }
 
 
 .soldout-label input[type="checkbox"] {
    transform: scale(1.3); /* Makes the checkbox bigger */
 }
 
 
 #cards-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line if there are too many cards */
    gap: 16px; /* Adds space between the cards */
 }
 
 
 .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    gap: 10px;
 }
 
 
 .quote {
    padding: 50px;
    background-color: #fcdbee;
    color: grey;
    text-align: center;
    font-size: 20px;
 }
 
 
 .stars {
    font-size: 30px;
    padding-bottom: 10px;
 }
 
 
 .name {
    padding-top: 10px;
    text-align: right;
 }
 
 
 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #fff7fc;
    color: white;
 }
 
 
 .signup {
    padding: 25px;
    background-color: #d8defd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    border-radius: 20px;
    flex: 0 1 800px;
    font-size: 20px;
 }
 
 
 .signup .text{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    gap: 10px;
    font-size: 20px;
 }
 
 
 .text h3 {
    font-size:25px;
    font-weight: 600;
 }
 
 
 .signup .btn {
    border: 1px solid white;
    flex-shrink: 0;
    font-size: 20px;
 }
 
 
 .footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #ffa1cb;
    color: white;
 }
 
 
 /* Modal styles */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 
 
 .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 100px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    text-align: center;
 }
 
 
 .modal-container {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: center; /* Center items horizontally */
    flex: auto;
    flex-wrap: wrap;
    text-align: center; /* Center text when wrapped */
 }
 
 
 #modal-image {
    margin-right: 30px; /* Add some space between the image and the text */
    width: 30%;
    min-width: 200px;
    height: auto;
 }
 
 
 .modal-text {
    display: flex;
    flex-direction: column; /* Arrange text items in a column */
    gap: 20px; /* Add gaps between text items */
    flex: 1; /* Allow the text container to take up the remaining space */
    font-size: 30px;
    width: 40%;
    min-width: 100px;
    align-items: center;
    text-align: center; /* Center text within the text container */
 }
 
 
 #modal-title {
    font-size: 2em; /* Adjust the size as needed */
    font-weight: bold; /* Optional: make the title bold */
 }
 
 
 .modal-btn {
    width: 200px;
    height: 70px;
    background-color: #d8defd;
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    font-size: 20px;
 }
 
 
 .close {
    color: #aaa;
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    font-size: 38px;
    font-weight: bold;
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
 }
 
 
 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }
 